* {
	box-sizing: border-box;
	background-color: black;
}

@font-face {
	font-family: lol-font;
	src: url('./FrizQuadrataRegular.ttf')
}

.nav {
	position: sticky;
	top: 10px;
	padding: 10px;
	margin-top: 5%;
	background-color: rgb(204, 217, 229);
}

.all-cards-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 5rem;
	flex-wrap: wrap;
}

.card-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 5rem;
	flex-wrap: wrap;
}

.nav-bar {
	display: flex;
	justify-content: space-around;
	overflow: hidden;
	background-color: rgb(6, 0, 63);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 2% 20%;
}

.nav-link {
	font-family: 'Copperplate', fantasy;
	font-size: 2.5vh;
	color: rgb(242, 213, 115);
	text-decoration: none;
}

.rest {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	margin-top: 5%;
	height: 100vh;
	background-color: rgb(204, 217, 229);
}

.temp-cart-div {
	width: 50vw;
}

.cart-item {
	display: flex;
	justify-content: space-evenly;
}

.qty-button {
	display: flex;
}
.all-cards-container {
	display: flex;
	flex-wrap: wrap;
}

.card-display {
	display: flex;
}

.card-image {
	max-height: 500px;
	max-width: 700px;
}

.card-blurb {

}

.card-title {
	text-decoration: none;
	font-family: lol-font;
	color: gold;
    font-weight: 600;
    text-align: center;
}

.card-tags {
	color: gold;
	font-family: lol-font;
	text-align: center;
	display: flex;
	justify-content: center;
}

.double-tags {
	display: flex;
	justify-content: space-evenly;
}

.card-info {
	color: gold;
	font-family: lol-font;
}

.card-blurb {
	color: gold;
	font-family: lol-font;
	flex-shrink: 2;
}