* {
	box-sizing: border-box;
	/* background-color: black; */
}

@font-face {
	font-family: lol-font;
	src: url('./FrizQuadrataRegular.ttf');
}

body {
	font-family: lol-font;
	color: gold;
	line-height: 1.5rem;
	letter-spacing: 0.5px;
}

.nav {
	position: sticky;
	top: 10px;
	padding: 10px;
	margin-top: 5%;
	background-color: rgb(204, 217, 229);
}

.nav-bar {
	display: flex;
	justify-content: space-around;
	overflow: hidden;
	background-color: rgb(6, 0, 63);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 2% 20%;
}

.nav-link {
	font-family: 'Copperplate', fantasy;
	font-size: 2.5vh;
	color: rgb(242, 213, 115);
	text-decoration: none;
}

.nav {
	position: sticky;
	top: 10px;
	padding: 10px;
	margin-top: 5%;
	background-color: rgb(204, 217, 229);
}

.cart-container {
	margin-top: 5rem;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.cart-item-header {
	width: 66%;
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
	padding: 10px;
}
.cart-item-header span {
	text-decoration: underline;
	text-transform: capitalize;
	font-size: large;
}
.cart-item {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding: 10px;
}

.cart-item-image {
	display: flex;
	flex-direction: column;
}
.cart-item-info {
	display: flex;
	width: 66%;
	justify-content: space-evenly;
}

.qty-div {
	display: flex;
	flex-direction: row;
}
.all-cards-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 6rem;
	flex-wrap: wrap;
}

.card-display {
	display: flex;
}

.card-image {
	max-height: 500px;
	max-width: 700px;
}

.card-blurb {
	flex-shrink: 0.5;
}

.card-title {
	font-family: lol-font;
	color: gold;
	text-decoration: none;
	font-weight: 600;
	text-align: center;
}

.card-tags {
	text-align: center;
	display: flex;
	justify-content: center;
}

.tag-wrapper {
	display: flex;
	justify-content: space-evenly;
	max-height: 50px;
}

.tag {
	max-width: 50px;
}

.card-info {
}

.card-blurb {
	flex-shrink: 2;
}

.qty-button {
	background-color: gold;
	max-height: 20px;
}
